<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pool Controller Login</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <div class="login-panel">
      <h1>Pool Controller</h1>
      <div class="pin-input">
        <div class="pin-boxes">
          <input type="password" class="pin-box" maxlength="1" pattern="[0-9]" inputmode="numeric" data-index="0">
          <input type="password" class="pin-box" maxlength="1" pattern="[0-9]" inputmode="numeric" data-index="1">
          <input type="password" class="pin-box" maxlength="1" pattern="[0-9]" inputmode="numeric" data-index="2">
          <input type="password" class="pin-box" maxlength="1" pattern="[0-9]" inputmode="numeric" data-index="3">
        </div>
        <div class="error-message"></div>
      </div>
    </div>
  </div>

  <script src="/js/login.js"></script>
</body>
</html> 